.card {
  background: var(--branco-puro);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  align-items: center;
  width: 100%;
  max-width: 800px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.119);
}

.card > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box_imgTetx {
  display: flex;
  height: 100%;
  gap: 10px;
}

.card .box_text {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.imgItem {
  width: 90px;
  border-radius: 10px;
}

.card .status {
  font-size: 0.8rem;
  color: black;
  font-weight: 600;
}

.box_text p:first-child {
  font-weight: 600;
}

.box_text p:nth-child(2) {
  font-size: 0.8rem;
  color: var(--texto-item);
}

.box_text p:last-child {
  font-size: 0.8rem;
  color: var(--texto-item);
}
