.card {
  background: var(--branco-puro);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  align-items: center;
  color: var(--texto-item);
  max-width: 500px;
}

.card > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card > div div {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}
.dataPostado {
  align-self: end;
  margin-bottom: 10px;
}

.imgItem {
  width: 90px;
  border-radius: 10px;
}
.imgILupa {
  width: 30px;
  height: 30px;
}

.text p:first-child {
  color: var(--texto-item);
  font-size: 1.2rem;
  font-weight: 600;
}

.text p:last-child,
.dataPostado {
  font-size: 1rem;
  font-weight: 300;
}
