:root {
  --laranja-queimado: #d45e1c;
  --bege-suave: #c8a98d;
  --azul-gelo: #e6f7fb;
  --branco-puro: #ffffff;
  --azul-claro: #5ab5f4;

  /* text */
  --texto-item: #7a7a7a;
  --texto-inpunt: #5c4b1b;
}
