.box_confirmation {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.405);
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.box_confirmation > div {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--branco-puro);
  border-radius: 20px;
  padding: 20px;
}

.box_confirmation > div div {
  display: flex;
  gap: 20px;
}

.box_confirmation button {
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-weight: 1.2rem;
  font-weight: 600;
  color: var(--branco-puro);
  cursor: pointer;
}

.box_confirmation button:first-child {
  background-color: #1cd41f;
}
.box_confirmation button:last-child {
  background-color: #d41c1c;
}

.box_confirmation button:active {
  transform: scale(1.2);
}
