.box_loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  font-weight: 600;
}

.box_loadingTop {
  justify-content: start;
}

.box_loadingCenter {
  justify-content: center;
}

.box_loading > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.box_loading img {
  width: 60px;
}

.dotContainer {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: end;
  margin-top: 8px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
  animation: blink 1.5s infinite;
  opacity: 0;
  margin-bottom: 7px;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
.dot:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
