main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  position: relative;
}

header {
  background-color: var(--laranja-queimado);
  text-align: center;
  color: var(--branco-puro);
  height: 100px;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

header div {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -30px;
  display: flex;
  align-items: center;
}

header input {
  width: 100%;
  min-width: 350px;
  max-width: 380px;
  border: solid 2px var(--laranja-queimado);
  border-radius: 15px;
  padding-top: 10px;
  padding-left: 65px;
  height: 60px;
  outline: none;
  font-size: 1.2rem;
}

.select_setor {
  border: solid 2px rgba(0, 0, 0, 0.213);
  cursor: pointer;
  max-width: 550px;
}

header input::placeholder {
  color: #acacac;
  font-size: 1.2rem;
}

.boxScroll {
  width: 100%;
  padding: 7px;
  padding-top: 30px;
  height: auto;
  height: 70vh;
  min-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
  position: relative;
}
.boxScroll::-webkit-scrollbar {
  height: 8px;
}
.boxScroll::-webkit-scrollbar {
  width: 6px; /* Scroll vertical */
}

.boxScroll::-webkit-scrollbar-thumb {
  background-color: var(--laranja-queimado);
  border-radius: 10px;
  width: 2px;
}

.boxItens {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 10px;
}

.sherdogSmell,
.sherdog,
.icon_search {
  position: absolute;
}
.sherdog {
  width: 45px;
  transform: scaleX(-1);
  top: -55px;
  left: 10px;
}
.sherdogSmell {
  width: 65px;
  bottom: 0;
  right: 10px;
}

.icon_search {
  font-size: 30px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(211, 211, 211);
}

main h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
}

main > div {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}

main select {
  appearance: none;
  width: calc(100% - 17px);
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  height: 40px;
  color: rgb(169, 169, 169);
  font-size: 1.2rem;
  outline: none;
}

main option {
  color: black;
}

main button {
  background: var(--laranja-queimado);
  border: none;
  padding: 10px 0;
  width: 100px;
  border-radius: 20px;
  color: var(--branco-puro);
  font-weight: 600;
  align-self: center;
  margin-bottom: 10px;
}

.iconMenu {
  color: var(--laranja-queimado);
  font-size: 30px;
  position: absolute;
  bottom: 0;
  right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.iconMenu:hover {
  color: var(--laranja-escuro);
}

.boxMenu {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  color: var(--branco-puro);
  position: absolute;
  bottom: 40px;
  right: 10px;
  z-index: 3;
}

.boxMenu.ativo {
  opacity: 1;
}

.boxMenu p {
  cursor: pointer;
}

.boxMenu p:hover {
  background-color: var(--laranja-escuro);
}

.boxMenu p {
  background-color: var(--laranja-queimado);
  border-radius: 10px;
  padding: 5px 15px;
}

.iconClose {
  font-size: 30px;
  font-weight: 1000;
  color: var(--laranja-queimado);
}
