.form_Register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100dvh;
  padding-bottom: 10px;
}

.form_Register > div:first-child {
  background-color: var(--laranja-queimado);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  gap: 20px;
  color: var(--branco-puro);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
}

.form_Register img {
  transform: scaleX(-1);
  width: 60px;
}

.form_Register section {
  background-color: var(--azul-claro);
  padding: 50px 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin: 0 20px;
  border-radius: 20px;
  min-height: 350px;
  width: calc(100% - 20px);
  max-width: 400px;
}

.form_Register input {
  border: none;
  padding: 10px;
  border-radius: 7px;
  outline: none;
  font-size: 1.1rem;
  width: 100%;
}

.form_Register input::placeholder {
  font-weight: 600;
  color: rgb(190, 190, 190);
}

.form_Register button {
  background-color: var(--laranja-queimado);
  border: none;
  padding: 10px;
  border-radius: 7px;
  color: var(--branco-puro);
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all;
  width: calc(100% - 10px);
}

.form_Register section div {
  width: 100%;
}

.form_Register section p {
  color: rgb(219, 15, 15);
  font-weight: 600;
  align-self: flex-start;
  font-size: 0.8rem;
}
